/* Search.component.css */

.search-container {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.amiibo-card {
    max-width: 300px;
    height: auto;
    margin: 0 auto;
    border-radius: 50px;
}

.amiibo-card:hover {
    transform: scale(1.05);
}

.amiibo-card img {
    width: 50%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.star-icon {
    cursor: pointer;
    float: right;
    color: #f1c40f; /* Yellow color for star */
    margin-top: -30px;
}

.star-icon:hover {
    transform: scale(1.5);
}